<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @admin.name %>から面会用パスワードの通知が届きました。</h3>
    <ul>
      <li><strong>名前：</strong><%= @user.name %></li>
      <li><strong>面会用パスワード：</strong><%= @user.secret_word %></li>
    </ul>
  </body>
</html>