<% provide(:title, @user.name) %>

<div class="jumbotron">
  <h1 class="text-center">マイページ</h1><br>
  <div class="text-center"><%= link_to "Video_Chat", video_chat_user_path(@user), class: "btn btn-lg btn-warning" %></div>
</div>

    
    